.reveal blockquote {
  padding: 0.25em 0.75em;
  text-align: left;
  overflow: hidden;
}

blockquote * {
  line-height: 1.6 !important;
}

.reveal code,
.reveal pre code {
  font-family: "League Mono", "Ubuntu Mono", Consolas;
}
.reveal pre code {
  padding: 20px;
}

.reveal section img {
  background: transparent;
  border: 0;
  box-shadow: none;
}

.reveal .progress span {
  background: #D24632;
}
.reveal a {
  font-weight: bold;
  color: #D24632;
}

/*.dark blockquote,
.dark h1,
.dark h2,
.dark h3,
.dark li,
.dark p,
.dark span {
  color: #ffffff;
}*/

@media (max-width: 35em) {
  .solid-bg .slide-background {
    /* Total hack for mobile sizing, this is probably not universal */
    /*background-size: 160vw !important;*/
    background-repeat: no-repeat !important;
  }
}

/* Element overrides */

.lowercase {
  text-transform: lowercase !important;
}

.basic-sans {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif !important;
}

.basic-monospace {
  font-family: monospace !important;
  letter-spacing: -1em;
}

.half-width-code {
  width: 50%;
  margin: auto;
}

/* Current Slide */

.overlay.present {
  background: rgba(255, 255, 255, 0.65);
  border-radius: 10px;
}
/* Fonts */

.reveal h1 {
  line-height: 1.2 !important;
}

/* Captions */

.caption {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  padding: 5px !important;
  background-color: rgba(255,255,255,0.85) !important;
}

.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.highlight {
  padding: 0.5em 0.25em !important;
  background-color: rgba(255,255,255,0.8) !important;
}

/* Footer */

#footer {
  position: absolute;
  bottom: 4px;
  font-family: Raleway, sans-serif;
  font-weight: 300;
  font-size: 1.1em;
  padding: 5px 5px 5px 0;
  z-index: 100;
}

#footer .bg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.6;
  border-top-right-radius: 10px;
}

#footer p {
  position: relative;
  margin: 0;
  padding: 5px 15px 2px 10px;
}

#footer a {
  color: #D24632;
  text-decoration: none;
  display: inline-block;
  padding: 4px 0;
}
#footer a:hover {
  color: #4F4641;
}

@media (max-width: 600px) {
  .non-mobile {
    display: none;
  }
}

.reveal .attribution > *,
.reveal .whitebg {
  display: inline-block;
  background-color: white;
  color: #222;
  border-radius: 2px;
  padding: 0.15em !important;
  margin: 0;
  border: 1px solid #afafaf !important;
}

.attribution > *,
.whitebg > * {
  padding: 0.2em !important;
}
.attribution > *,
.whitebg > a {
  padding-bottom: 1em !important;
}

.reveal .attribution {
  position: absolute;
  /*bottom: 2em;*/
  top: 80%;
  width: 100%;
  font-size: 0.5em;
}

.reveal .full-width {
  width: 100% !important;
}

.reveal .full-height {
  height: 100% !important;
}

/*#slides-element {
  top: 370px;
}*/

.reveal li {
  margin-bottom: 0.5em;
}
.reveal li > ul {
  margin-top: 0.5em;
}

/*
 FONT SIZE ADJUSTMENTS FOR LEGIBILITY
 */
html {
  font-size: 16px;
}

.reveal {
  font-size: 2.3rem;
}

@media (max-width: 35em) {
  .reveal { font-size: 1.5rem; }
}

hr {
  margin: 1.5em 0;
}

.reveal h1     { font-size: 3.8em; }
.reveal h2     { font-size: 3.2em; }
.reveal h3     { font-size: 1.8em; }
.reveal h4     { font-size: 1.2em; }
.reveal pre    { font-size: 0.9em; }
.reveal p code { font-size: 1.1em; }
.reveal small  { font-size: 0.7em; }
.reveal .small { font-size: 0.7em; }

.react h1,
.react h2,
.react h3,
.react h4,
.react h5,
.react h6,
.react p,
.react li,
.react div,
.react section,
.reveal .slides {
  /*text-align: left;*/
}

.reveal h1 {
  font-family: Baskerville, Palatino, "Book Antiqua", serif;
  font-style: italic;
  text-transform: none;
}
.reveal h1 em {
  font-style: normal;
}
.reveal .montserrat {
  font-family: Montserrat, "League Spartan", Avenir, sans-serif;
}
.reveal h1.montserrat,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5 {
  /*font-family: League Spartan;*/
  font-family: Montserrat, "League Spartan", Avenir, sans-serif;
  font-style: normal;
  font-weight: 800;
  /*font-variant: small-caps;*/
  text-transform: none;
  text-shadow: none;
}
.reveal h1.montserrat em,
.reveal h2 em,
.reveal h3 em,
.reveal h4 em,
.reveal h5 em {
  font-style: italic;
}
.reveal h1,
.reveal h2 {
  /*text-transform: uppercase;*/
}
.reveal h1.title {
  font-family: 'Oswald';
}

.reveal h1 small,
.reveal h2 small,
.reveal h3 small,
.reveal h4 small,
.reveal h5 small {
  display: block;
  font-weight: 600;
}
.reveal h1 small:after,
.reveal h2 small:after,
.reveal h3 small:after,
.reveal h4 small:after,
.reveal h5 small:after {
    content: '\A';
    white-space: pre;
}

span.amp {
  font-family: Baskerville, Fanwood, Palatino, "Book Antiqua", serif;
  font-style: italic;
}

.reveal .has-overlay {
  display: inline-block;
  text-align: center;
  padding: 10px 20px;
  background: rgba(0,0,0,0.8);
  border-radius: 3px;
}
.reveal div.has-overlay {
  background: rgba(0,0,0,0.9);
  margin-bottom: 1em;
}
/*
.reveal .italic {
  font-family: Baskerville, Palatino, "Book Antiqua", serif;
  font-style: italic;
}*/

.reveal .italic {
  font-family: Raleway;
  font-style: italic;
}







@media print {
  .reveal .blackoutline {
       -moz-text-stroke-width: 4px;
    -webkit-text-stroke-width: 4px;
       -moz-text-stroke-color: black;
    -webkit-text-stroke-color: black;
  }
}
.reveal .blackoutline {
  text-shadow:
    -1px -1px 0.5px black,
    -1px -2px 0.5px black,
    -1px -3px 0.5px black,
    -1px -4px 0.5px black,
    -1px 0px 0.5px black,
    -1px 1px 0.5px black,
    -1px 2px 0.5px black,
    -1px 3px 0.5px black,
    -1px 4px 0.5px black,
    -2px -1px 0.5px black,
    -2px -2px 0.5px black,
    -2px -3px 0.5px black,
    -2px -4px 0.5px black,
    -2px 0px 0.5px black,
    -2px 1px 0.5px black,
    -2px 2px 0.5px black,
    -2px 3px 0.5px black,
    -2px 4px 0.5px black,
    -3px -1px 0.5px black,
    -3px -2px 0.5px black,
    -3px -3px 0.5px black,
    -3px -4px 0.5px black,
    -3px 0px 0.5px black,
    -3px 1px 0.5px black,
    -3px 2px 0.5px black,
    -3px 3px 0.5px black,
    -3px 4px 0.5px black,
    -4px -1px 0.5px black,
    -4px -2px 0.5px black,
    -4px -3px 0.5px black,
    -4px -4px 0.5px black,
    -4px 0px 0.5px black,
    -4px 1px 0.5px black,
    -4px 2px 0.5px black,
    -4px 3px 0.5px black,
    -4px 4px 0.5px black,
    0px -1px 0.5px black,
    0px -2px 0.5px black,
    0px -3px 0.5px black,
    0px -4px 0.5px black,
    0px 0px 0.5px black,
    0px 1px 0.5px black,
    0px 2px 0.5px black,
    0px 3px 0.5px black,
    0px 4px 0.5px black,
    1px -1px 0.5px black,
    1px -2px 0.5px black,
    1px -3px 0.5px black,
    1px -4px 0.5px black,
    1px 0px 0.5px black,
    1px 1px 0.5px black,
    1px 2px 0.5px black,
    1px 3px 0.5px black,
    1px 4px 0.5px black,
    2px -1px 0.5px black,
    2px -2px 0.5px black,
    2px -3px 0.5px black,
    2px -4px 0.5px black,
    2px 0px 0.5px black,
    2px 1px 0.5px black,
    2px 2px 0.5px black,
    2px 3px 0.5px black,
    2px 4px 0.5px black,
    3px -1px 0.5px black,
    3px -2px 0.5px black,
    3px -3px 0.5px black,
    3px -4px 0.5px black,
    3px 0px 0.5px black,
    3px 1px 0.5px black,
    3px 2px 0.5px black,
    3px 3px 0.5px black,
    3px 4px 0.5px black,
    4px -1px 0.5px black,
    4px -2px 0.5px black,
    4px -3px 0.5px black,
    4px -4px 0.5px black,
    4px 0px 0.5px black,
    4px 1px 0.5px black,
    4px 2px 0.5px black,
    4px 3px 0.5px black,
    4px 4px 0.5px black;
}
.reveal .whiteoutline {
  text-shadow:
    -4px -4px 0.5px white,
    -4px -3px 0.5px white,
    -4px -2px 0.5px white,
    -4px -1px 0.5px white,
    -4px 0px 0.5px white,
    -4px 1px 0.5px white,
    -4px 2px 0.5px white,
    -4px 3px 0.5px white,
    -4px 4px 0.5px white,
    -3px -4px 0.5px white,
    -3px -3px 0.5px white,
    -3px -2px 0.5px white,
    -3px -1px 0.5px white,
    -3px 0px 0.5px white,
    -3px 1px 0.5px white,
    -3px 2px 0.5px white,
    -3px 3px 0.5px white,
    -3px 4px 0.5px white,
    -2px -4px 0.5px white,
    -2px -3px 0.5px white,
    -2px -2px 0.5px white,
    -2px -1px 0.5px white,
    -2px 0px 0.5px white,
    -2px 1px 0.5px white,
    -2px 2px 0.5px white,
    -2px 3px 0.5px white,
    -2px 4px 0.5px white,
    -1px -4px 0.5px white,
    -1px -3px 0.5px white,
    -1px -2px 0.5px white,
    -1px -1px 0.5px white,
    -1px 0px 0.5px white,
    -1px 1px 0.5px white,
    -1px 2px 0.5px white,
    -1px 3px 0.5px white,
    -1px 4px 0.5px white,
    0px -4px 0.5px white,
    0px -3px 0.5px white,
    0px -2px 0.5px white,
    0px -1px 0.5px white,
    0px 0px 0.5px white,
    0px 1px 0.5px white,
    0px 2px 0.5px white,
    0px 3px 0.5px white,
    0px 4px 0.5px white,
    1px -4px 0.5px white,
    1px -3px 0.5px white,
    1px -2px 0.5px white,
    1px -1px 0.5px white,
    1px 0px 0.5px white,
    1px 1px 0.5px white,
    1px 2px 0.5px white,
    1px 3px 0.5px white,
    1px 4px 0.5px white,
    2px -4px 0.5px white,
    2px -3px 0.5px white,
    2px -2px 0.5px white,
    2px -1px 0.5px white,
    2px 0px 0.5px white,
    2px 1px 0.5px white,
    2px 2px 0.5px white,
    2px 3px 0.5px white,
    2px 4px 0.5px white,
    3px -4px 0.5px white,
    3px -3px 0.5px white,
    3px -2px 0.5px white,
    3px -1px 0.5px white,
    3px 0px 0.5px white,
    3px 1px 0.5px white,
    3px 2px 0.5px white,
    3px 3px 0.5px white,
    3px 4px 0.5px white,
    4px -4px 0.5px white,
    4px -3px 0.5px white,
    4px -2px 0.5px white,
    4px -1px 0.5px white,
    4px 0px 0.5px white,
    4px 1px 0.5px white,
    4px 2px 0.5px white,
    4px 3px 0.5px white,
    4px 4px 0.5px white;
}
